@charset "UTF-8";
/*Custom styles for bootstrap overrides*/
/*makes list display6 smaller*/
.display-6{
    font-size: x-large;
    font-weight: bold;
}
button.display-6{
    font-weight: unset;
}
/*Make list have no preceding disc image or padding*/
.no-list{
    list-style: none;
    padding: unset;
}
/*Removes visual cues of an average hyperlink*/
.no-link{
    color: unset;
    text-decoration: none;
}
/*Puts items wrapped horizontally, side by side*/
.side-by-side{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: flex-start;
    margin-bottom: 1rem;
}
ul.side-by-side{
    justify-content: space-between;
}
/*Gives spacing between side by side forms*/
.side-by-side form{
    margin-right: 2%;
}
/*Gives spacing between side by side inputs*/
.side-by-side input{
    padding-right: 2%;
}
/*makes input and button same height when grouped side by side*/
.input-group input{
    margin-bottom: 0;
}

/*Centers text in alert and warning boxes*/
div.alert{
    padding: 1rem;
}
div.alert p{
    margin: auto;
    display: block;
    text-align: center;
}
/*Makes textarea diagonally resizable*/
textarea{
    resize: both;
    height: 8em;
}
/*Allows for container to take up whole page displaying all content*/
.container{
    max-height: 100%;
    max-width: 100%;
    /*some padding to sort of center content accordingly vw(Viewport width)*/
    padding-left: 7vw;
    padding-right: 7vw;
}

/*Image sizing for websites logo*/
img{
    margin: 10px;
}
img.logo-lg{
    height: 150px;
    width: 150px;
    margin: auto;
}

/*add spacing between form inputs and groups*/
input, form,textarea{
    display: block;
    margin-bottom: 8px;
}
/*gives colour input more space to show the colour within it*/
input[type="color"]{
    padding: .25rem;
    margin-left: .25rem;
    /*height from form-control-sm to make it smaller*/
    min-height: calc(1.5em + .5rem + 2px);
}

/*places footer on bottom of page, and centers content (make~80%of screen space)*/
header{
    min-height: 10vh;
}
main{
    min-height: 80vh;
    padding-bottom: 1vh;
}
footer {
    min-height: 10vh;
    display: block;
    justify-content: center;
}

/*Add nice delay transition animation (if any)*/
html{
    transition: all 5000ms;
}

/*Light Mode aesthetics*/
.navbar-dark .navbar-nav .nav-link {
    color: black;
}
header.bg-light{
    background-image: linear-gradient(deepskyblue, skyblue);
}
main.bg-light{
    background-image: linear-gradient(skyblue, floralwhite);
}
footer.bg-light{
  background-image: linear-gradient(floralwhite, whitesmoke);
}

/*Dark Mode aesthetics*/
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
header.bg-dark{
    background-color: black!important;
}
main.bg-dark{
    background-image: linear-gradient(black, #040439);
}
footer.bg-dark{
    background-image: linear-gradient(#040439, #202066);
}
body.bg-dark{
    color: white;
}
/*Added custom theme for buttons*/
.btn-primary:hover{
    background-color: darkblue;
    border-color: darkblue;
}
.btn-success{
    border-color: deepskyblue;
    background-color: deepskyblue;
}

/*puts less emphasis on h3 in forms*/
form h3 {
    font-weight: normal;
    font-size: large;
    text-decoration: underline currentColor;
}
/*gives spacing between fieldsets*/
fieldset{
    margin-bottom: 5%;
}

/*shadow root/DOM styles for showing a preview of a website page*/
div#shadowRoot{
    max-height: 65vh;
    height: 100%;
    min-height: 55vh;
    display: block;
    box-sizing: border-box;
    margin: auto;
    border: rgba(0,0,0,.5) solid medium;
    border-radius: 25%;
    max-width: 45vh;
    width: auto;
    min-width: 35vw;
    overflow: auto;
    font-size: 50%;
}