@charset "UTF-8";
/*Custom styles with bootstrap overrides*/
input, form,textarea{
    display: block;
    margin-bottom: 8px;
}
main>div.container{
    min-height: 780px;
}
fieldset{
    padding: 25px;
}