/*Stylesheet for user created websites*/
/*Style for site's logo*/
img{
    image-resolution: from-image;
    margin: auto;
}
img.logo{
    max-height: 150px;
    height: 100px;
    min-height: 15px;
    max-width: 150px;
    width: 100px;
    min-width: 15px;
    border: rgba(0,0,0,.25) outset thin;
    border-radius: 1.2rem;
}
/*Slows down all transition on the page*/
html{
    transition: all 1s;
}
/*places footer on bottom of page, and centers content (make~80%of screen space)*/
header{
    min-height: 10vh;
}
main{
    min-height: 80vh;
    padding-top: 5vh;
}
.modal-footer {
    min-height: 10vh;
    border-top: none;
    justify-content: center;
}

/*Main page title*/
header h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 2vh;
}

/*Nav border*/
nav{
    border-bottom: rgba(0,0,0,.75) 2px groove;
}

/*Allows for container to take up whole page displaying all content*/
.container{
    max-height: 100%;
    max-width: 100%;
    /*some padding to sort of center content accordingly vw(Viewport width)*/
    padding-left: 7vw;
    padding-right: 7vw;
}

/*Default colour palette from https://coolors.co/ffffff-856d6d-de5b5b-ff0303-de6d6d*/
/* CSS HEX*/
:root {
    /*used to declare and use 'global variables' of colour palette*/
    --main: white;
    --header: lightgray;
    --footer: white;
}
header{
    background-image: linear-gradient(var(--header), var(--main));
}
main{
    padding-top: 10px;
    background-image: linear-gradient(var(--main),var(--footer));
}
footer{
    background-color: var(--footer);
}

.display-6{
    font-size: 150%;
}