/*places footer on bottom of page, and centers content (make~80%of screen space)*/
header{
    min-height: 10vh;
}
main{
    min-height: 80vh;
}
.modal-footer {
    min-height: 10vh;
    border-top: none;
    justify-content: center;
}

/*Main page title*/
header>h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 2vh;
}

/*Nav border*/
nav{
    border-bottom: rgba(0,0,0,.75) 2px groove;
}

/*To be used in JS to make the navbar sticky*/
nav.sticky{
    position: fixed;
    top: 0;
    z-index: 0;
}

/*Allows for container to take up whole page displaying all content*/
.container{
    max-height: 100%;
    max-width: 100%;
    /*some padding to sort of center content accordingly vw(Viewport width)*/
    padding-left: 7vw;
    padding-right: 7vw;
}

/*Default colour palette from https://coolors.co/ffffff-856d6d-de5b5b-ff0303-de6d6d*/
/* CSS HEX*/
:root {
    /*used to declare and use 'global variables' of colour palette*/
    --white: #ffffffff;
    --rocket-metallic: #857373ff;
    --rose-taupe: #8f5b5bff;
    --taupe-gray: #9c9292ff;
    --rose-taupe-2: #8a5e5eff;
}
header{
    background-image: linear-gradient(var(--rose-taupe), var(--rocket-metallic));
}
main{
    background-image: linear-gradient(var(--rocket-metallic),var(--taupe-gray));
}
footer{
    background-color: var(--taupe-gray);
}